header { 
    display: flex;
    justify-content: space-between;
    background-color: #219653;
    padding: 10px 20px;
    border-bottom: 10px solid black;
    
 }

 nav {
    text-align: right;
 }

 a{
    display: inline-flex;
    align-items: center; 
    color: black;
    font-size: 20px;
    font-family: "Fira Code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: ""; 
    display: inline-block;
    background-color: #9151e0;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

a:hover {
    transform: scale(1.04);
    color: #c8d6e5;
}

#button {
    display: inline-block;
    background-color: #9151e0;
    padding: 18px 20px;
    box-shadow: 5px 5px black;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button::before {
    content: none;
}

#button:hover {
    transform: scale(1.09);
    color: #219653;
    background-color: #5f27cd;
}

